# Environments
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
